body {
    text-align: center;
}

#symbol {
    font-size: 2em;
}
.board {
    margin: auto;
    width: 350px;
}
.board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em;
}

#messages {
    font-size: 1.9em;
}

#EnterUsername{
    width: 25%;
    margin-left: 35%;
    margin-top: 20%;

    text-align: center;
    align-content: center;
}